# Configuração para GMAIL
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=seu-email-do-gmail@gmail.com
EMAIL_PASS=COLE_A_NOVA_SENHA_DE_16_LETRAS_SEM_ESPAÇOS_AQUI

# URL base do seu site (Frontend)
NEXT_PUBLIC_BASE_URL=http://localhost:3000