.searchPageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.showWrapper {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-top: 1px solid #ddd;
}
