.itemBlock {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: stretch;
  gap: 0;
  padding: 0.8rem;
  border: 1px solid #0000002a;
  border-radius: 8px;
  background-color: #ebebebdc;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-sizing: border-box;
}

.itemBlock:hover {
  transform: scale(1.02);
}

/* Cada campo */
.fieldBlock {
  display: flex;
  flex-direction: row;       /* agora lado a lado */
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  border-right: 1px solid #1b3655;
  gap: 0.4rem;               /* espaço entre label e valor */
}

/* Último campo (botão delete ou outro) não tem borda */
.fieldBlock:last-child {
  border-right: none;
}


.fieldLabel {
  font-weight: bold;
  font-size: 0.93rem;
  color: #1b3655;
  margin: 0;                /* remove margem inferior */
}

.fieldValue {
  font-size: 0.93rem;
  color: #000000;
  word-break: break-word;
}

.deleteButton {
  background-color: #be1e21c2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin: auto;
  max-width: 150px;
}

.deleteButton:hover {
  background-color: #d9363e;
}
