/* Common styles for navigation lists and links */
.navList {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Base styles for all nav links */
.navLink {
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
}

.navLink:hover {
  background-color: #33334d;
}

/* Vertical Navbar Specific Styles */
.verticalNavbar {
  width: 250px;
  background-color: #1e1e2f;
  height: 100vh;
  padding: 20px;
  color: white;
  box-sizing: border-box;
  overflow-y: auto;
}

.brand {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  /* margin-bottom foi removido daqui */
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0;
  text-decoration: none;
}

/* ===== NOVA CLASSE PARA CONTROLAR O ESPAÇAMENTO ===== */
.brandContainer {
  margin-bottom: 20px; /* Coloque o espaço desejado aqui */
}

.navItem {
  margin-bottom: 10px;
}

.activeNavLink {
  background-color: #33334d;
  color: #a0a0ff;
  font-weight: bold;
  border-left: 4px solid #00eeff;
  padding-left: 8px;
}

/* SubMenu Styles (Dropdown) */
.subMenu {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
  background-color: #2a2a40;
  border-radius: 4px;
}

.subMenu li {
  margin-bottom: 5px;
}

.subMenu .navLink {
  padding: 6px 10px;
  font-size: 0.9em;
  color: #d0d0d0;
}

.subMenu .navLink:hover {
  background-color: #444466;
  color: #ffffff;
}

.subMenu .activeNavLink {
  background-color: #444466;
  color: #2678c9;
  font-weight: bold;
  border-left: 4px solid #00aaff;
  padding-left: 6px;
}

.horizontalNavbar {
  padding-left: 4vw;
  width: 100%;
}

.horizontalNavbar .navList {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 1rem;
}

.horizontalNavbar .navItem {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: #333 2px 2px 10px;
}

.horizontalNavbar .navLink {
  color:white;
}

.brandHighlight {
  color: rgb(0, 149, 255);
  text-shadow: 0 0 1px rgb(0, 149, 255), 
               0 0 1px rgb(0, 149, 255), 
               0 0 1px rgb(0, 149, 255);
}