/* Layout container */
.container {
    box-sizing: border-box;
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100vw;
  }
  
  /* Sidebar with Vertical Navbar */
  .sidebar {
    width: 240px; /* Fixed width for the vertical navbar */
    height: 100vh;
    background-color: var(--primary-color);
  }
  
  /* Main content area (right side) */
  .mainContent {
    flex-grow: 1; /* This takes up the remaining space on the right */
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* Top horizontal navbar */
  .topNav {
    background-color: var(--secondary-color);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    height: 11vh; /* Adjust the height of the horizontal navbar */
    display: flex;
    align-items: center; /* Center the content vertically within the navbar */
  } 
  
  /* Main content (children) */
  .pageContent {
    flex-grow: 1; /* Take all remaining space */
    padding: 1rem 0 0 0; /* Space around the content */
    background-color: var(--background-light);
  }
  