/* globals.css */
:root {
  --primary-color: #4a90e2;
  --secondary-color: #29b6f6;
  --background-light: #b3e5fc;
  --background-dark: #333;
  --text-color: #222;
}

body {
  background-color: var(--background-light);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  /* Remova as propriedades de centralização para permitir que o layout se estenda */
  min-height: 100vh;
  margin: 0;
  /* Opcional: se precisar de um reset, você pode usar: */
  /* display: block; */
}
