/* globals.css */
:root {
  --primary-color: #1b3655;
  --secondary-color: #c0bebedc;
  --background-light: #292942fb;
  --background-lighter: #1674a3;
  --text-color: #000000;
}

body {
  background-color: var(--background-light);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  
}

/* Global form styling */
form {
  text-align: left;
  padding: 0 20px;
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 90%;
  background-color: #1b3655;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

