/* layout.module.css */
.container {
  box-sizing: border-box;
  display: flex;
  height: 100vh; /* Altura total da viewport */
  width: 100vw;
}

.sidebar {
  width: 240px; /* Largura fixa para a navbar vertical */
  height: 100vh; /* Altura total */
  background-color: var(--primary-color);
}

.mainContent {
  flex-grow: 1; /* Ocupa o espaço restante */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topNav {
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  height: 11vh; /* Altura da navbar horizontal */
  display: flex;
  align-items: center;
}

.pageContent {
  flex-grow: 1; /* Ocupa o restante do espaço abaixo da topNav */
  padding: 1rem 0 0 0;
  background-color: var(--background-light);
  overflow-y: auto;
}/* layout.module.css */
.container {
  box-sizing: border-box;
  display: flex;
  height: 100vh; /* Altura total da viewport */
  width: 100vw;
}

.sidebar {
  width: 240px; /* Largura fixa para a navbar vertical */
  height: 100vh; /* Altura total */
  background-color: var(--primary-color);
}

.mainContent {
  flex-grow: 1; /* Ocupa o espaço restante */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topNav {
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  height: 11vh; /* Altura da navbar horizontal */
  display: flex;
  align-items: center;
}

.pageContent {
  flex-grow: 1; /* Ocupa o restante do espaço abaixo da topNav */
  padding: 1rem 0 0 0;
  background-color: var(--background-light);
  overflow-y: auto;
}